<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
   bootstrap="./vendor/autoload.php"
   backupGlobals="false"
   backupStaticAttributes="false"
   colors="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   processIsolation="false"
   stopOnFailure="false"
   syntaxCheck="false" >
    <testsuites>
        <testsuite name="PacketHost Api Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="shippable//testresults//junit.xml"/>
        <log type="coverage-xml" target="shippable//codecoverage"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
